12factor-vault==0.1.20
apscheduler==3.7.0
cryptography==3.4
Django==3.1.6
djangorestframework==3.12.2
envdir==1.0.1
gunicorn==20.0.4
hvac==0.10.7
python-consul==1.1.0
python-json-logger==2.0.1
requests==2.25.1
typing==3.7.4.3

# vendored dependencies from django12factor
dj-database-url==0.5.0
dj-email-url==1.0.2
django-cache-url==3.2.2
six==1.15.0

# pytz is consciously unpinned, I trust this collection of timezones to not fuck up
pytz
